@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');


/* natiivsed html elemenedid */
body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    margin:auto;
    font-family: 'Lora', serif;
    font-weight: 700;
}
img{
    object-fit: contain;
}
textarea{
    resize: none;
    height: 100px;
}
label{
    font-size: 26px;
    margin-right: 5%;
}


/* päise stiilid */
.header{
    display: flex;
    justify-content: space-evenly;
    min-width: 100%;
    box-shadow: 0px 0px 5px grey;
    background-color: white;
}
.header h1{
    font-size: 2.5em;
}
.header ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15%;
    list-style: none;
    margin:none;
}
.header li{
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    padding: 5px;
    height: 100%;
    font-size: 1.5em;
}
.header a{
    text-decoration: none;
    color:black;   
}



/* pea konteiner */
.container{
    align-self: center;
    width: 75%;
    min-height: 100vh;
    border-style: solid;
    border-color: rgb(194, 194, 194);
    border-width: 0 2px;
}


/* Lemmik raamat */
.book-of-the-day{
    border-width: 3px;
    border-color: rgb(150, 150, 150);
    box-shadow: 2px 2px 5px grey;
}
.book-of-the-day span{
    color: rgb(150, 150, 150)

}


/* Avalehe tekst */
.intro{
    flex-direction: column;
    border: 2px solid white;
    box-shadow: none;
}
.intro a{
    color: black;
}
.intro p{
    font-size: 20px;
}


/* Raamatud */
.book-ow{
    padding: 20px;
}
.card{
    border-style: solid;
    border-color: rgb(165, 165, 165);
    border-width: 2px;
    border-radius: 5px;
    margin: 10px;
    padding: 2% 5%;
    display: flex;
    box-shadow: 2px 2px 5px grey;
}
.card sub{
    text-align: right;
}


/* Bio lehekülg */
.about{
    display: flex;
    padding: 40px;
    justify-content: space-evenly;
}
.about img{
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
}
.about-text{
    padding: 40px;
    font-size: 20px;
}
.links{
    display: flex;
    gap: 5%;
    justify-content: center;
}
.links img{
    height: 50px;
    box-shadow: none;
    align-self: center;
}


/* Kontakt lehekülg */
.contact-content{
    display:flex;
    flex-direction: row;
}
.contact-icon{
    width: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.contact{
    width: 50%;
    padding: 5%;
    border-radius: 5px;
}
.contact h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 5%;
}
.contact form{
    margin-top: 5%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-element{
    display: flex;
    width: 80%;
    margin-bottom: 2%;
    align-items: center;
}


/* Tekstiväljade stiilid */
.text-input{
    font-family: 'Lora', serif;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    outline: none;
    background-color: inherit;
    transition: 0.2s;
    max-height: max-content;
    width: 100%;
}
.text-input:focus{
    transform: translate(-1px, -2px);
    border: 2px solid black;
    box-shadow: 2px 2px 5px grey;
}


/* Nupu stiilid */
.btn{
    display: inline-block;
    border: 2px solid dodgerblue;
    border-radius: 5px;
    background-color: white;
    color:dodgerblue;
    padding: 15px; 
    transition: 0.1s;
    margin: 5px;
    width: 80%;
}
.btn:hover{
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
    transform: translate(-1px, -2px);
    box-shadow: 2px 2px darkblue;
}
.footer{
    box-shadow: 0 -5px 3px -3px grey;
    margin-top: auto;
    padding: 15px;
    text-align: center;
    font-weight: 400;
}


/* Kleepuv päis */
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}


/* Teksti allajoonimine kui kasutaja hoverib */
.underline{
    text-decoration: underline 0.15em rgba(0,0,0,0);
    transition: text-decoration-color 0.15s;
}
.underline:hover{
    text-decoration-color: rgba(0,0,0,1);
}